<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.demo.lizejun.dagger2sample">

	<!-- application name 要改变 chapter4和chapter5 -->
	<application
		android:name=".chapter4_2.app.ScopeApp"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".chapter1.YouXianjiActivity">
		</activity>
		<activity android:name=".chapter4_2.activity.ScopeActivity">
		</activity>
		<activity android:name=".chapter2.QualifierActivity">
		</activity>
		<activity android:name=".chapter3_1.SubComponentActivity">
		</activity>
		<activity android:name=".chapter4_1.ScopeActivity1"/>
		<activity android:name=".chapter5.HomeActivity"/>
		<activity android:name=".chapter0.OnlyInjectActivity">
		</activity>
		<activity android:name=".chapter0_1.OnlyInjectYoucanActivity">
		</activity>
		<activity android:name=".chapter3.DependencyComponentActivity">
		</activity>
		<activity android:name=".chapter3.other.DependencyComponentActivity2">
		</activity>
		<activity android:name=".chapter4_0.test0.MyScopeActivity0">
		</activity>
		<activity android:name=".chapter4_0.test1.MyScopeActivity1">
		</activity>
		<activity android:name=".chapter4_0.test2.MyScopeActivity2"></activity>
		<activity android:name=".chapter4_0.test2.MyScopeActivity2_1"></activity>
		<activity android:name=".chapter4_0.test3.MyScopeActivity3"></activity>
	</application>

</manifest>